@page
@model Sunny_School.Pages.DatosFamiliaresModel
@{
    ViewData["Title"] = "DatosFamiliares";
}

    <body bgcolor="black">
        <a class="navbar-brand" href="DatosGenerales">Datos Genreales</a>
        <a class="navbar-brand" href="DatosAcademicos">Datos Academicos</a>
        <a class="navbar-brand" href="DatosFamiliares">Datos Familiares</a>
    </body>
        <div class="text-justify">
            <h1 class="display-4">Datos Familiares</h1>
            <br />
            <div class="text-left side">
                <h2>Datos del tutor</h2>
            </div>
            <br />

            <label for="Nombre_Tutor">Nombre del tutor: </label>
            <input type="text"  name="nombre" />
            <br />
            <label for="Apellido_paterno">Apellido Paterno: </label>
            <input type="text"  name="Apellido_paterno" />
            <br />
            <label for="Apellido_materno">Apellido materno: </label>
            <input type="text" name="Apellido_maetrno" />
            <br />
            <label for="Fecha_nacimiento">Fecha de nacimiento: </label>
            <input type="text" name="Fecha_nacimiento" />
            <br />
            <label for="Nacionalidad">Nacionalidad: </label>
            <input type="text"  name="Nacionalidad" />
            <br />
            <label for="Ocupacion">Ocupacion: </label>
            <input type="text"  name="Ocupacion" />
            <br />
            <label for="Ingresos">Ingresos: </label>
            <input type="text" name="Ingresos" />
            <br />
            <label for="Telefono">Telefono: </label>
            <input type="text"  name="Telefono" />
            <br />
            <div class="text-left side">
                <h3>Datos del la madre</h3>
            </div>
            <br />
            <label for="Nombre_Madre">Nombre de la madre: </label>
            <input type="text" name="nombre de la madre" />
            <br />
            <label for="Apellido_paterno">Apellido Paterno: </label>
            <input type="text" name="Apellido_paterno" />
            <br />
            <label for="Apellido_materno">Apellido materno: </label>
            <input type="text" name="Apellido_maetrno" />
            <br />
            <label for="Fecha_nacimiento">Fecha de nacimiento: </label>
            <input type="text" name="Fecha_nacimiento" />
            <br />
            <label for="Nacionalidad">Nacionalidad: </label>
            <input type="text" name="Nacionalidad" />
            <br />
            <label for="Ocupacion">Ocupacion: </label>
            <input type="text" name="Ocupacion" />
            <br />
            <label for="Telefono">Telefono: </label>
            <input type="text" name="Telefono" />
            <br />
            <div class="text-left side">
                <h4>Datos de los padres</h4>
            </div>
            <br />
            <label for="Domicilio_padres">Domicilio de los padres: </label>
            <input type="text" name="Ingresos" />
            <br />
            <label for="Municipio">Municipio: </label>
            <input type="text" name="municipio" />
            <br />
            <label for="colonia">Colonia: </label>
            <input type="text" name="Colonia" />
            <br />
            <label for="Comunidad">Comunidad: </label>
            <input type="text" name="Comunidad" />
            <br />
            <label for="Estado_civil">Estado Civil: </label>
            <input type="text" name="estado civil" />
            <br />
        </div>
