@page
@model Sunny_School.Pages.DatosAcademicosModel
@{
    ViewData["Title"] = "DatosAcademicos";
}


<body bgcolor="Black">
    <a class="navbar-brand" href="DatosGenerales">Datos Genreales</a>
    <a class="navbar-brand" href="DatosAcademicos">Datos Academicos</a>
    <a class="navbar-brand" href="DatosFamiliares">Datos Familiares</a>
</body>
<div class="text-left side">
    <h1 class="display-4">Datos Academicos</h1>

    <label for="Escuela">Escuela: </label>
    <input type="text" size="50" name="Escuela" />
    <br />
    <label for="Nivel_escolar">Nivel escolar: </label>
    <input type="text" size="50" name="Nivel_escolar" />
    <br />
    <label for="Direccion">Direccion: </label>
    <input type="text" size="50" name="Direccion" />
    <br />
    <label for="Matricula">Matricula: </label>
    <input type="text" size="50" name="Matricula" />
    <br />
    <label for="Carrera">Carrera: </label>
    <input type="text" size="50" name="Carrera" />
    <br />
    <label for="Cuatrimestre">Cuatrimestre: </label>
    <input type="text" size="50" name="Cuatrimestre" />
    <br />
</div>

