@page
@model Sunny_School.Pages.DatosGeneralesModel
@{
    ViewData["Title"] = "DatosGenerales";
}


<body bgcolor="black">
    <a class="navbar-brand" href="DatosGenerales">Datos Genreales</a>
    <a class="navbar-brand" href="DatosAcademicos">Datos Academicos</a>
    <a class="navbar-brand" href="DatosFamiliares">Datos Familiares</a>
</body>
<div class="text-center">
    <h1 class="display-4">Datos Generales</h1>
    
    <label for="Nombre">Nombre: </label>
    <input type="text" size="50" name="Nombre" />
    <br />
    <label for="Apellido_Paterno">Apellido_Peterno: </label>
    <input type="text" size="50" name="Apellido paterno" />
    <br />
    <label for="Apellido_Materno">Apellido_Materno: </label>
    <input type="text" size="50" name="Apellido materno" />
    <br />
    <label for="Curp">Curp: </label>
    <input type="text" size="50" name="curp" />
    <br />
    <label for="Nacionalidad">Nacionalidad: </label>
    <input type="text" size="50" name="Nacionalidad" />
    <br />
    <label for="Fecha_Nacimiento">Fecha_Nacimiento: </label>
    <input type="text" size="50" name="Fecha de nacimiento" />
    <br />
    <label for="Genero">Genero: </label>
    <input type="text" size="50" name="Genero" />
    <br />
    <label for="Discapacidad">Discapacidad: </label>
    <input type="text" size="50" name="Discapacidad" />
    <br />
    <label for="Telefono">Telefono: </label>
    <input type="text" size="50" name="Telefono" />
    <br />
    <label for="Colonia">Colonia: </label>
    <input type="text" size="50" name="Colonia" />
    <br />
    <label for="Direccion">Direccion: </label>
    <input type="text" size="50" name="Direccion" />
    <br />
    <label for="Correo del tutor">Correo del tutor: </label>
    <input type="text" size="50" name="Correo de tutor" />
</div>


