@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <head>
        <title>Becas Sunny</title>
        <h1 class="display-4">Becas Sunny</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </head>
    <body bgcolor="black">
        <a class="navbar-brand" href="DatosGenerales">Datos Genreales</a>
        <a class="navbar-brand" href="DatosAcademicos">Datos Academicos</a>
        <a class="navbar-brand" href="DatosFamiliares">Datos Familiares</a>
    </body>